
WallpaperTest.xcodeproj/project.xcworkspace/xcuserdata/erike.xcuserdatad/UserInterfaceState.xcuserstate

WallpaperTest.xcodeproj/xcuserdata/erike.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

WallpaperTest.xcodeproj/xcuserdata/erike.xcuserdatad/xcschemes/WallpaperTest.xcscheme

WallpaperTest.xcodeproj/xcuserdata/erike.xcuserdatad/xcschemes/xcschememanagement.plist

WallpaperTest/.DS_Store

.DS_Store
